{% load staticfiles %}

<div id="footer">

    <div class="container">

        <div class="row">

            <div class="col-sm-1 hidden-sm">
                <img src="{% static 'img/logo-icon.png' %}" class="img-responsive">
            </div>

            <div class="col-sm-7 col-md-8">
                <h5>Copyright © 2015, State of Hawaii. All rights reserved.</h5>

                <p>The Hawaii Department of Agriculture’s (HDOA) 240 employees statewide work to support, enhance, promote, and protect Hawaii’s agriculture and aquaculture industries.</p>
            </div>

            <div class="col-sm-4 col-md-3 text-right">
                <h5>Stay in Touch</h5>
                <p>Follow us in social networks</p>
                <ul class="connect-Links">
                    <li><a target="_blank" href="https://www.facebook.com/Hawaii-Department-of-Agriculture-274025339276783/ "><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/hdoapio"><i class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/channel/UCu8ne-a4cg_kW3G-95P27KA"><i class="fa fa-youtube"></i></a></li>
                    <li><a target="_blank" href="http://hdoa.hawaii.gov/contact/"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>

        </div>

    </div>

</div>
