<!-- Modal -->
<div data-ng-controller="PasswordRecoverController"
     class="modal fade" id="modal-recover" tabindex="-1" role="dialog"
     aria-labelledby="modal-recoverLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="modal-recoverLabel">Password Recovery</h4>
            </div>
            <div collapse="isCollapsed" style="margin: 5px;">
                <div class="well well-sm">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p style="text-align: center;"><strong>[[ success_message ]]</strong></p>
                </div>
            </div>
            <form class="smart-form" name="password_recovery_form">

                <div class="row">
                    <div class="col-md-4">
                        <label class="label">Email</label>
                    </div>
                    <div class="col-md-8">
                        <label class="input">
                            <input data-ng-model="rec.email" name="email" type="email" required>
                        </label>
                    </div>
                </div>

                <div class="modal-footer">
                    <ul class="login-extras pull-left">
                        <li><a  data-toggle="modal" href="#modal-login" class="login-switch">» Login</a></li>
                        <li><a data-toggle="modal" href="#modal-signup" class="register-switch">» Register</a></li>
                    </ul>
                    <button type="submit" class="btn btn-primary"
                            data-ng-disabled="password_recovery_form.$invalid"
                            data-ng-click="submit()">
                        Recover Password
                    </button>
                </div>
                
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
