    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 text-center">
            <h1 class="text-center">You are almost done!</h1>

            <p>Your visualization has now been created, you can now add this visualization to widgets. These widgets can be found in resources, and in your home dashboard. Add more data-visualizations to be able to add them to your widget blocks.</p>
        </div>
        <!--
        <div class="col-sm-4">
        <h1>Share</h1>
        <label class="input styled-input white">
        <input id="publish-url" type="text" value="[[ shortUrl ]]">
        </label>
        <ul id="myTab3" class="nav nav-tabs tab-share">
        <li class="active">
        <a href="" social-facebook custom-url="[[shortUrl]]" 
        data-toggle="tab"> <i class="fa fa-facebook"></i></a>
        </li>
        <li>
        <a href="" social-gplus custom-url="[[shortUrl]]" data-toggle="tab"> <i class="fa fa-google-plus"></i></a>
        </li>
        <li>
        <a href="" social-twitter status="[[msg]] [[shortUrl]]" data-toggle="tab"> <i class="fa fa-twitter"></i></a>
        </li>
        <li>
        <a href="" social-linkedin custom-url="[[shortUrl]]" data-toggle="tab"> <i class="fa fa-linkedin"></i></a>
        </li>
        <li>
        <a href="" ng-click="sendMail(msg, shortUrl)" data-toggle="tab"> <i class="fa fa-envelope"></i></a>
        </li>
        </ul>
        <div id="myTabContent3" class="tab-content tab-share">
        <div class="tab-pane fade in active" id="share1">
        <label class="textarea">
        <textarea rows="3" class="custom-scroll" ng-model="msg"></textarea>
        </label>
        </div>
        
        </div>
        -->
    </div>
    <div class="row content-footer">
        <div class="col-sm-12">
            <a type="button" id="preview-btn"
              href="/maps-admin/data/visualizations" 
              class="btn btn-xl btn-primary pull-right">
              Done
            </a>
        </div>
    </div>
</div>
