{% extends 'data/base.html' %}
{% load staticfiles %}
{% include 'widgets/mobile_nav.html' %}
{% block left_panel %}
    {% include 'maps-admin/widgets/left_panel.html' with section="datavisualizations" subsection="datavisualizations" %}
{% endblock left_panel %}

{% block main_panel %}
    <!-- RIBBON -->
    <div id="ribbon">
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                <h1 class="page-title">
                    <!-- PAGE HEADER -->
                    <i class="fa fa-2x fa-fw fa-pie-chart"></i>
                    <!-- PAGE HEADER -->
                    Data Visualizations
                </h1>
            </div>
            <!-- end col -->
            <!-- right side of the page with the sparkline graphs -->
            <!-- col -->
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <a href="/{{ role }}/data/addvisualization" class="btn btn-lg pull-right">Add Visualization</a>
            </div>
        </div>
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- widget grid -->
        <section id="widget-grid">
            <!-- row -->
            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false">
                        <header>
                            <h2>Data Visualizations</h2>
                        </header>
                        <!-- widget div-->
                        <div class="widget-content">
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                <table id="pages-table" class="table table-striped table-bordered table-hover"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th data-class="expand">Group Name</th>
                                        <th data-hide="phone">Type</th>
                                        <th data-hide="phone,tablet">Visualizations</th>
                                        <th data-hide="phone">Data Sets</th>
                                        <th data-hide="phone,tablet">Imported?</th>
                                        <th data-hide="phone">Options</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for data in data_sets %}
                                        <tr>
                                            <td><a href="/{{ role }}/data/update-visualization/{{ data.id }}">{{ data.group_name }}</a></td>
                                            <td>{% for elem in data.visualization_types %}{{elem}} {% endfor %}</td>
                                            <td>{{ data.visualizations }}</td>
                                            <td>{{ data.num_datasets }}</td>
                                            <td>Yes</td>
                                            <td><a href>Edit</a> | <a data-toggle="modal"
                                                    href="#delete-single"
                                                    onclick="set_id('{{data.id}}')">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                        <div class="widget-footer">
                           <!-- <a class="btn btn-lg btn-default pull-right" data-toggle="modal" href="#delete-group">
                                Delete Selected </a>
                                </div>-->
                    </div>
                    <!-- end widget -->
                </article>
                <!-- WIDGET END -->
            </div>
            <!-- end row -->
        </section>
        <!-- end widget grid -->
<!-- Modal -->
        <div class="modal fade" id="delete-single" tabindex="-1" role="dialog" aria-labelledby="delete-single-Label"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="delete-single-Label">Delete</h4>
                    </div>
                    <form class="smart-form">
                        <div class="modal-body">
                            <div class="row">
                                <p>Are sure you want to delete the field?</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                No
                            </button>
                            <a id="delete_href" href="">
                                <button type="button" class="btn btn-default" data-action="" data-href="">
                                    Yes
                                </button>
                            </a>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <!-- Modal -->
        <div class="modal fade" id="delete-group" tabindex="-1" role="dialog" aria-labelledby="delete-group-Label"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="delete-group-Label">Delete</h4>
                    </div>
                    <form class="smart-form">
                        <div class="modal-body">
                            <div class="row">
                                <p>Are you sure you want to delete the following pages?</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox" checked="checked">
                                        <i></i>Name of the page
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox" checked="checked">
                                        <i></i>Name of the page
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox" checked="checked">
                                        <i></i>Name of the page
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox" checked="checked">
                                        <i></i>Name of the page
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                No
                            </button>
                            <button type="button" class="btn btn-default">
                                Yes
                            </button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- END MAIN CONTENT -->
{% endblock main_panel %}

{% block page_rel_scripts %}
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">
        function set_id(id) {
            $("#delete_href").attr("href", "/maps-admin/data/dataviz-delete/" + id);
        }
        $(document).ready(function () {
            /* DO NOT REMOVE : GLOBAL FUNCTIONS!
             *
             * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
             *
             * // activate tooltips
             * $("[rel=tooltip]").tooltip();
             *
             * // activate popovers
             * $("[rel=popover]").popover();
             *
             * // activate popovers with hover states
             * $("[rel=popover-hover]").popover({ trigger: "hover" });
             *
             * // activate inline charts
             * runAllCharts();
             *
             * // setup widgets
             * setup_widgets_desktop();
             *
             * // run form elements
             * runAllForms();
             *
             ********************************
             *
             * pageSetUp() is needed whenever you load a page.
             * It initializes and checks for all basic elements of the page
             * and makes rendering easier.
             *
             */
            pageSetUp();
            /* // DOM Position key index //
             l - Length changing (dropdown)
             f - Filtering input (search)
             t - The Table! (datatable)
             i - Information (records)
             p - Pagination (paging)
             r - pRocessing
             < and > - div elements
             <"#id" and > - div with an id
             <"class" and > - div with a class
             <"#id.class" and > - div with an id and class
             Also see: http://legacy.datatables.net/usage/features
             */
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;
            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };
            $('#pages-table').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                "t" +
                "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#pages-table'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });
            /* END BASIC */
        })
    </script>
{% endblock page_rel_scripts %}
