{% load staticfiles %}

<div id="mobile-navigation">
    <!-- HEADER -->
    <header id="header">
        <div id="logo-group">
            <!-- PLACE YOUR LOGO HERE -->
            <span id="logo-mobile"><img src="{% static 'img/HDOA.png' %}"></span>
            <!-- END LOGO PLACEHOLDER -->
            <div class="header-buttons">
                <a class="pull-right" data-action="toggleMenu" href>
                    <i class="fa fa-bars fa-2x"></i>
                </a>
                <a class="pull-right" href="/">
                    <i class="fa fa-home fa-2x"></i>
                </a>
            </div>
        </div>
    </header>
    <!-- END HEADER -->
</div>
