packages:
  yum:
    libjpeg-turbo-devel: []

container_commands:
  04_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  05_create_fixtures:
    command: "source /opt/python/run/venv/bin/activate && python manage.py admin_fixture"
  06_npm_install:
    command: "npm install"
  07_gulp_install:
    command: "npm install --save-dev gulp"
  08_gulp:
    command: "gulp"
  09_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "mappweb.settings"
    "ALLOWED_HOSTS" : "*"
    "PROD": "True"
    "CORE_API_URL" : "http://mapp-dev.elasticbeanstalk.com/api/v1" 
    "EC2_HOME": "Maps"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: mappweb/wsgi.py
    NumProcesses: 2
    NumThreads: 15
