{% extends 'homepage/base.html' %}
{% load staticfiles %}

{% block aside %}
    {% include 'homepage/widgets/aside.html' with section="index" %}
{% endblock aside %}
{% block main_panel %}
    {% include 'homepage/widgets/header_menu.html' with section='index' %}
    <!-- MAIN CONTENT -->
    <div id="content" class="container" ng-controller="IndexController">
        <div class="search-basic">
            <form id="search-form" class="smart-form big-form" method="get" action="" data-api-url="">
                <!-- row -->
                <div class="row">
                    <div class="col-sm-6">
                        <!-- starts input wrap -->
                        <div id="search_div" class="inputWrap headerWrap">
                            <label class="input">
                                <i id="submit-icon" class="icon-append fa fa-search"></i>
                                <input placeholder="Input your search..." type="text" id="q">
                            </label>
                        </div>
                        <!-- ends input -->
                    </div>
                    <div class="col-sm-3">
                        <!-- starts input wrap -->
                        <div class="inputWrap">
                          <a href="#adv_search_row" id="adv_search" class="btn btn-default btn-lg btn-block"
                               data-toggle="collapse">Advanced Search</a>
                        </div>
                        <!-- ends input -->
                    </div>
                    <div class="col-sm-3">
                        <!-- starts input wrap -->
                        <div class="inputWrap">
                            <div class="btn-group btn-group-justified" data-toggle="buttons">
                                <a href="#tab-search-map" id="btn-map-tab" data-toggle="tab"
                                   class="btn btn-default active"><input type="radio"/> Map</a>
                                <a href="#tab-search-directory" id="btn-directory-tab" data-toggle="tab"
                                   class="btn btn-default"><input type="radio"/> Directory</a>
                            </div>
                        </div>
                        <!-- ends input -->
                    </div>
                </div>
                <!-- end row -->
                <div class="row collapse" id="adv_search_row">
                    <div class="col-sm-5">
                        <div class="inputWrap multiSelectWrap">
                            <section>
                            <label class="select">
                                <select multiple class="input-lg select2" id="location_type" data-placeholder="Select Location Type">
                                    {% for loc in loc_types %}
                                        <option value="{{ loc.id }}" label="{{ loc.name }}">{{ loc.name }}</option>
                                    {% endfor %}
                                </select>
                                <!--<i></i>-->
                            </labeL>
                            </section>
                        </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="inputWrap">
                        <ui-select multiple ng-model="selected_tags" id="tags-select" theme="select2" style="width:100%"
                        on-select="angular_submit_form($item,true)"
                        on-remove="angular_submit_form($item)"
                        >
                          <ui-select-match placeholder="Select Category">[[$item.name]]</ui-select-match>
                          <ui-select-choices repeat="tag.id as tag in tags | filter: {name: $select.search}"
                          refresh="refresh_tags($select.search)"
                          refresh-delay="0">
                            <div ng-bind-html="tag.name | highlight: $select.search"></div>
                          </ui-select-choices>
                        </ui-select>
                        <input type="hidden" id="tags"
                        ng-model="tags_for_jquery"
                        value="[[tags_for_jquery]]">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="inputWrap">
                            <a href="#" class="btn btn-default btn-lg btn-block">Search</a>
                        </div>
                    </div>
                    <style>
                     .select2-search-field > input {
                         width:100% !important;
                     }
                    </style>
                </div>
                <!-- end row -->
            </form>
        </div>

        <div class="tab-content" style="padding: 0;">
            <h2 id="record_count"></h2>

            <div class="tab-pane active" id="tab-search-map">
                <div class="row" style="margin: 0;">
                    <div class="col-sm-12" style="padding: 0;">
                        <div class="inputWrap">
                            <div id="map_canvas" class="google_maps"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-search-directory">
                <div class="directory-block-container"></div>
                <div class="text-center">
                    <a id="load-more-button" class="btn btn-primary btn-xl" style="display: none;">Load More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
    {% include 'homepage/widgets/footer.html' %}
{% endblock main_panel %}
{% block footer_scripts %}
    <script type="text/javascript" src="{% static 'js/homepage.js' %}"></script>      
    <!-- info window template -->
    <script id="tmpl-infowindow" type="text/template">
        <div id="info-map">
            <div style="display: inline-block; width: 86px; verticle-align: top; float: left;">
                <img src="%img_src%" class="thumbnail" style="width: 80%; verticle-align: top;"/>
            </div>
            <div style="display:inline-block; width:200px; float:left;">
                <h4><a href="/members-location/%item_id%/">%item_name%</a></h4>

                <div>%formatted_address%</div>
                <br/>

                <!--<div><b>%desc%</b></div>-->
            </div>
        </div>
    </script>
    <script id="tmpl-directory-block" type="text/template">
        <div class="directory-block" >
            <div class="col-sm-4" style="padding: 0 13px;">
                <div class="google_map_container" style="height: 160px;"></div>
            </div>
            <div class="col-sm-8" style="padding: 0 13px;">
                <h3><a href="/members-location/%item_id%/">%item_name%</a></h3>

                <div class="directory-address">
                    <i class="fa fa-2x fa-fw fa-map-marker"></i>
                    <span>%formatted_address%</span>
                </div>
                <div class="directory-tags">
                    <i class="fa fa-2x fa-fw fa-tag"></i>
                </div>
                <p>%desc%</p>
            </div>
        </div>
    </script>
    <script id="tmpl-reg-success" type="text/template">
        <div class="alert alert-success  fade in">
            <a class="close" data-dismiss="alert" href>×</a>
                    <i class="fa fa-check-circle"></i>
                Registration successful! Please check your email to confirm.
        </div>
    </script>
    <script id="tmpl-rec-success" type="text/template">
        <div class="alert alert-success  fade in">
            <a class="close" data-dismiss="alert" href>×</a>
                    <i class="fa fa-check-circle"></i>
                Password recovery email sent. Please check your mailbox.
        </div>
    </script>
{% endblock footer_scripts %}
