{% extends 'homepage/base.html' %}
{% block aside %}
    {% include 'homepage/widgets/aside.html' with section="index" %}
{% endblock aside %}
{% block main_panel %}
    {% include 'homepage/widgets/header_menu.html' with section='index' %}
    <!-- MAIN CONTENT -->
    <div id="content" class="container">
        {% include 'homepage/widgets/search.html' with section='index-directory' %}
        <div class="row">
            <div class="col-sm-12">
                <h2>125 Results</h2>
            </div>
            <!-- Starts Directory Block -->
            <div class="directory-block">
                <div class="col-sm-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3716.260187840875!2d-157.703884!3d21.34023!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c00139ae993ffd9%3A0x953abd2fe97faaa3!2sSweet+Home+Waimanalo!5e0!3m2!1ses-419!2smx!4v1411629744415"
                            width="100%" height="160" frameborder="0" style="border:0"></iframe>
                </div>
                <div class="col-sm-8">
                    <h3><a href="/members-location">Native Hawaiian Media Conference</a></h3>

                    <div class="directory-address">
                        <i class="fa fa-2x fa-fw fa-map-marker"></i>
                        <span>1505 Dillingham Boulevard, Room 205, Honolulu HI 96817</span>
                    </div>
                    <div class="directory-tags">
                        <i class="fa fa-2x fa-fw fa-tag"></i>
                        <a href class="tag-item">Wetlands</a>
                        <a href class="tag-item">Fisheries</a>
                        <a href class="tag-item">Fishponds</a>
                        <a href class="tag-item">OHA</a>
                        <a href class="tag-item">Farmers Markets</a>
                    </div>
                    <p>To be a place for collaboration, partnership-building and innovation among Hawaiian creative
                        professionals, so that they may learn from one another, represent hawaiian culture globally, and
                        build an economic engine of job creation.</p>
                </div>
            </div>
            <!-- ends Directory Block -->
            <!-- Starts Directory Block -->
            <div class="directory-block">
                <div class="col-sm-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3716.260187840875!2d-157.703884!3d21.34023!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c00139ae993ffd9%3A0x953abd2fe97faaa3!2sSweet+Home+Waimanalo!5e0!3m2!1ses-419!2smx!4v1411629744415"
                            width="100%" height="160" frameborder="0" style="border:0"></iframe>
                </div>
                <div class="col-sm-8">
                    <h3><a href="/members-location">Native Hawaiian Media Conference</a></h3>

                    <div class="directory-address">
                        <i class="fa fa-2x fa-fw fa-map-marker"></i>
                        <span>1505 Dillingham Boulevard, Room 205, Honolulu HI 96817</span>
                    </div>
                    <div class="directory-tags">
                        <i class="fa fa-2x fa-fw fa-tag"></i>
                        <a href class="tag-item">Wetlands</a>
                        <a href class="tag-item">Fisheries</a>
                        <a href class="tag-item">Fishponds</a>
                        <a href class="tag-item">OHA</a>
                        <a href class="tag-item">Farmers Markets</a>
                    </div>
                    <p>To be a place for collaboration, partnership-building and innovation among Hawaiian creative
                        professionals, so that they may learn from one another, represent hawaiian culture globally, and
                        build an economic engine of job creation.</p>
                </div>
            </div>
            <!-- ends Directory Block -->
            <!-- Starts Directory Block -->
            <div class="directory-block">
                <div class="col-sm-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3716.260187840875!2d-157.703884!3d21.34023!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c00139ae993ffd9%3A0x953abd2fe97faaa3!2sSweet+Home+Waimanalo!5e0!3m2!1ses-419!2smx!4v1411629744415"
                            width="100%" height="160" frameborder="0" style="border:0"></iframe>
                </div>
                <div class="col-sm-8">
                    <h3><a href="/members-location">Native Hawaiian Media Conference</a></h3>

                    <div class="directory-address">
                        <i class="fa fa-2x fa-fw fa-map-marker"></i>
                        <span>1505 Dillingham Boulevard, Room 205, Honolulu HI 96817</span>
                    </div>
                    <div class="directory-tags">
                        <i class="fa fa-2x fa-fw fa-tag"></i>
                        <a href class="tag-item">Wetlands</a>
                        <a href class="tag-item">Fisheries</a>
                        <a href class="tag-item">Fishponds</a>
                        <a href class="tag-item">OHA</a>
                        <a href class="tag-item">Farmers Markets</a>
                    </div>
                    <p>To be a place for collaboration, partnership-building and innovation among Hawaiian creative
                        professionals, so that they may learn from one another, represent hawaiian culture globally, and
                        build an economic engine of job creation.</p>
                </div>
            </div>
            <!-- ends Directory Block -->
            <!-- Starts Directory Block -->
            <div class="directory-block">
                <div class="col-sm-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3716.260187840875!2d-157.703884!3d21.34023!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c00139ae993ffd9%3A0x953abd2fe97faaa3!2sSweet+Home+Waimanalo!5e0!3m2!1ses-419!2smx!4v1411629744415"
                            width="100%" height="160" frameborder="0" style="border:0"></iframe>
                </div>
                <div class="col-sm-8">
                    <h3><a href="/members-location">Native Hawaiian Media Conference</a></h3>

                    <div class="directory-address">
                        <i class="fa fa-2x fa-fw fa-map-marker"></i>
                        <span>1505 Dillingham Boulevard, Room 205, Honolulu HI 96817</span>
                    </div>
                    <div class="directory-tags">
                        <i class="fa fa-2x fa-fw fa-tag"></i>
                        <a href class="tag-item">Wetlands</a>
                        <a href class="tag-item">Fisheries</a>
                        <a href class="tag-item">Fishponds</a>
                        <a href class="tag-item">OHA</a>
                        <a href class="tag-item">Farmers Markets</a>
                    </div>
                    <p>To be a place for collaboration, partnership-building and innovation among Hawaiian creative
                        professionals, so that they may learn from one another, represent hawaiian culture globally, and
                        build an economic engine of job creation.</p>
                </div>
            </div>
            <!-- ends Directory Block -->
            <!-- Starts Directory Block -->
            <div class="directory-block">
                <div class="col-sm-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3716.260187840875!2d-157.703884!3d21.34023!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c00139ae993ffd9%3A0x953abd2fe97faaa3!2sSweet+Home+Waimanalo!5e0!3m2!1ses-419!2smx!4v1411629744415"
                            width="100%" height="160" frameborder="0" style="border:0"></iframe>
                </div>
                <div class="col-sm-8">
                    <h3><a href="/members-location">Native Hawaiian Media Conference</a></h3>

                    <div class="directory-address">
                        <i class="fa fa-2x fa-fw fa-map-marker"></i>
                        <span>1505 Dillingham Boulevard, Room 205, Honolulu HI 96817</span>
                    </div>
                    <div class="directory-tags">
                        <i class="fa fa-2x fa-fw fa-tag"></i>
                        <a href class="tag-item">Wetlands</a>
                        <a href class="tag-item">Fisheries</a>
                        <a href class="tag-item">Fishponds</a>
                        <a href class="tag-item">OHA</a>
                        <a href class="tag-item">Farmers Markets</a>
                    </div>
                    <p>To be a place for collaboration, partnership-building and innovation among Hawaiian creative
                        professionals, so that they may learn from one another, represent hawaiian culture globally, and
                        build an economic engine of job creation.</p>
                </div>
            </div>
            <!-- ends Directory Block -->
            <!-- Starts Directory Block -->
            <div class="directory-block">
                <div class="col-sm-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3716.260187840875!2d-157.703884!3d21.34023!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c00139ae993ffd9%3A0x953abd2fe97faaa3!2sSweet+Home+Waimanalo!5e0!3m2!1ses-419!2smx!4v1411629744415"
                            width="100%" height="160" frameborder="0" style="border:0"></iframe>
                </div>
                <div class="col-sm-8">
                    <h3><a href="/members-location">Native Hawaiian Media Conference</a></h3>

                    <div class="directory-address">
                        <i class="fa fa-2x fa-fw fa-map-marker"></i>
                        <span>1505 Dillingham Boulevard, Room 205, Honolulu HI 96817</span>
                    </div>
                    <div class="directory-tags">
                        <i class="fa fa-2x fa-fw fa-tag"></i>
                        <a href class="tag-item">Wetlands</a>
                        <a href class="tag-item">Fisheries</a>
                        <a href class="tag-item">Fishponds</a>
                        <a href class="tag-item">OHA</a>
                        <a href class="tag-item">Farmers Markets</a>
                    </div>
                    <p>To be a place for collaboration, partnership-building and innovation among Hawaiian creative
                        professionals, so that they may learn from one another, represent hawaiian culture globally, and
                        build an economic engine of job creation.</p>
                </div>
            </div>
            <!-- ends Directory Block -->
            <div class="text-center">
                <a href class="btn btn-primary btn-xl">Load More</a>
            </div>
        </div>
        {% include 'homepage/widgets/login_modal.html' %}
        {% include 'homepage/widgets/register_modal.html' %}
    </div>
    <!-- END MAIN CONTENT -->
    {% include 'homepage/widgets/footer.html' %}
{% endblock main_panel %}
