{% extends 'homepage/base.html' %}

{% block aside %}
    {% include 'homepage/widgets/aside.html' with section="index" %}
{% endblock aside %}

{% block main_panel %}
    {% include 'homepage/widgets/header_menu.html' with section='index' %}
    <div class="password-reset">
        <form class="smart-form big-form" method="post" action="">
            {% csrf_token %}
            <!-- row -->
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <!-- starts input wrap -->
                    <div class="inputWrap">
                       <label class="input">
                            <input type="password" name="password" required placeholder="New password">
                        </label>
                    </div>
                    <!-- ends input -->
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <!-- starts input wrap -->
                    <div class="inputWrap">
                        <label class="input">
                            <input type="password" name="repeat-password" required placeholder="Repeat new password">
                        </label>
                    </div>
                    <!-- ends input -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <button class="btn btn-lg pull-right">
                        Reset
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
