{% extends 'profile/base.html' %}
{% load staticfiles %}
{% include 'widgets/mobile_nav.html' %}
{% block left_panel %}
    {% include 'maps-admin/widgets/left_panel.html' with section='settings' subsection='settings-menus' %}
{% endblock left_panel %}

{% block main_panel %}
    <!-- RIBBON -->
    <div id="ribbon">
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                <h1 class="page-title">
                    <!-- PAGE HEADER -->
                    <i class="fa fa-2x fa-fw fa-gear"></i>
                    <!-- PAGE HEADER -->
                    Settings
                    <span>Menus</span>
                </h1>
            </div>
            <!-- end col -->
            <!-- right side of the page with the sparkline graphs -->
            <!-- col -->
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
            </div>
        </div>
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <div class="row menu-wrapper">
            <form class="smart-form big-form">
                <div class="col-sm-3 menu-select">
                    <h3>Pages</h3>
                    <fieldset>
                        <div class="pagelist">
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox" checked="checked">
                                <i></i>Name of the Page</label>
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox">
                                <i></i>Name of the Page</label>
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox">
                                <i></i>Name of the Page</label>
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox">
                                <i></i>Name of the Page</label>
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox">
                                <i></i>Name of the Page</label>
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox">
                                <i></i>Name of the Page</label>
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox" checked="checked">
                                <i></i>Name of the Page</label>
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox">
                                <i></i>Name of the Page</label>
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox">
                                <i></i>Name of the Page</label>
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox">
                                <i></i>Name of the Page</label>
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox">
                                <i></i>Name of the Page</label>
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox">
                                <i></i>Name of the Page</label>
                        </div>
                    </fieldset>
                    <div class="menu-select-buttons">
                        <a href class="btn btn-default btn-lg pull-right">Add Pages</a>
                    </div>
                    <h3>Links</h3>
                    <fieldset>
                        <section>
                            <div class="inputWrap">
                                <label class="input">
                                    <input type="text" class="input-xs" placeholder="http://">
                                </label>
                            </div>
                            <!-- ends input wrap -->
                        </section>
                        <section>
                            <div class="inputWrap">
                                <label class="input">
                                    <input type="text" class="input-xs" placeholder="Item Label">
                                </label>
                            </div>
                            <!-- ends input wrap -->
                        </section>
                    </fieldset>
                    <div class="menu-select-buttons">
                        <a href class="btn btn-default btn-lg pull-right">Add Link</a>
                    </div>
                </div>
            </form>
            <div class="col-sm-9 menu-items">
                <div class="row menu-items-title">
                    <span class="col-sm-12">Menu Item</span>
                </div>
                <div class="row menu-items-drag">
                    <div class="col-sm-8">
                        <i class="fa fa-arrows fa-lg pull-left"></i>
                        <h2>Name of the Page</h2>
                    </div>
                    <div class="col-sm-4">
                        <a href class="btn btn-default btn-sm pull-right"><i class="fa fa-close fa-lg"></i> </a>
                        <a href class="btn btn-default btn-sm pull-right"><i class="fa fa-wrench fa-lg"></i> </a>
                    </div>
                </div>
                <div class="row menu-items-drag">
                    <div class="col-sm-8">
                        <i class="fa fa-arrows fa-lg pull-left"></i>
                        <h2>Name of the Page</h2>
                    </div>
                    <div class="col-sm-4">
                        <a href class="btn btn-default btn-sm pull-right"><i class="fa fa-close fa-lg"></i> </a>
                        <a href class="btn btn-default btn-sm pull-right"><i class="fa fa-wrench fa-lg"></i> </a>
                    </div>
                </div>
                <div class="row menu-items-drag">
                    <div class="col-sm-8">
                        <i class="fa fa-arrows fa-lg pull-left"></i>
                        <h2>Name of the Page</h2>
                    </div>
                    <div class="col-sm-4">
                        <a href class="btn btn-default btn-sm pull-right"><i class="fa fa-close fa-lg"></i> </a>
                        <a href class="btn btn-default btn-sm pull-right"><i class="fa fa-wrench fa-lg"></i> </a>
                    </div>
                </div>
                <div class="row menu-items-drag">
                    <div class="col-sm-8">
                        <i class="fa fa-arrows fa-lg pull-left"></i>
                        <h2>Name of the Page</h2>
                    </div>
                    <div class="col-sm-4">
                        <a href class="btn btn-default btn-sm pull-right"><i class="fa fa-close fa-lg"></i> </a>
                        <a href class="btn btn-default btn-sm pull-right"><i class="fa fa-wrench fa-lg"></i> </a>
                    </div>
                </div>
                <div class="row menu-items-drag">
                    <div class="col-sm-8">
                        <i class="fa fa-arrows fa-lg pull-left"></i>
                        <h2>Name of the Page</h2>
                    </div>
                    <div class="col-sm-4">
                        <a href class="btn btn-default btn-sm pull-right"><i class="fa fa-close fa-lg"></i> </a>
                        <a href class="btn btn-default btn-sm pull-right"><i class="fa fa-wrench fa-lg"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
{% endblock main_panel %}

{% block page_rel_scripts %}
    <!-- JQUERY SUMMERNOTE -->
    <script src="{% static 'js/plugin/summernote/summernote.min.js' %}"></script>
    <!--[if IE 8]>
		<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
		<![endif]-->
    <!-- MAIN APP JS FILE -->
    <!-- PAGE RELATED PLUGIN(S)
    <script src="..."></script>-->
    <script type="text/javascript">
        $(document).ready(function () {
            /* DO NOT REMOVE : GLOBAL FUNCTIONS!
             *
             * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
             *
             * // activate tooltips
             * $("[rel=tooltip]").tooltip();
             *
             * // activate popovers
             * $("[rel=popover]").popover();
             *
             * // activate popovers with hover states
             * $("[rel=popover-hover]").popover({ trigger: "hover" });
             *
             * // activate inline charts
             * runAllCharts();
             *
             * // setup widgets
             * setup_widgets_desktop();
             *
             * // run form elements
             * runAllForms();
             *
             ********************************
             *
             * pageSetUp() is needed whenever you load a page.
             * It initializes and checks for all basic elements of the page
             * and makes rendering easier.
             *
             */
            pageSetUp();
            /* // DOM Position key index //
             l - Length changing (dropdown)
             f - Filtering input (search)
             t - The Table! (datatable)
             i - Information (records)
             p - Pagination (paging)
             r - pRocessing
             < and > - div elements
             <"#id" and > - div with an id
             <"class" and > - div with a class
             <"#id.class" and > - div with an id and class
             Also see: http://legacy.datatables.net/usage/features
             */
            runAllForms();
            $('#summernote').summernote();
            /* END BASIC */
        })
    </script>
{% endblock page_rel_scripts %}
