{% load staticfiles %}

<script src="{% static 'js/libs/jquery-2.0.2.min.js' %}"></script>
<script src="{% static 'js/libs/jquery-ui-1.10.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'js/libs/angular-file-upload-shim.min.js' %}"></script>
<script src="{% static 'js/angularjs/v1.3.14/angular.min.js' %}"></script>
<script src="{% static 'js/libs/ui-bootstrap-tpls-0.12.1.min.js' %}"></script>
<script src="{% static 'js/libs/ui.select.js' %}"></script>
<script src="{% static 'js/libs/ui.select2.js' %}"></script>
<script src="{% static 'js/libs/angular-file-upload.min.js' %}"></script>
<script src="{% static 'js/libs/ng-maps.js' %}"></script>
<script src="{% static 'js/libs/clickoutside.directive.js' %}"></script>
<script src="{% static 'js/libs/checklist-model.js' %}"></script>
<script src="{% static 'js/angularjs/angular-route.min.js' %}"></script>
<script src="{% static 'js/angularjs/angular-sanitize.min.js' %}"></script>
<script src="{% static 'js/libs/angular-social-links.js' %}"></script>
<script src="{% static 'js/libs/smart-table.min.js' %}"></script>
<script src="{% static 'js/libs/highcharts.min.js' %}"></script>
<script src="{% static 'js/libs/highcharts-more.min.js' %}"></script>
<script src="{% static 'js/libs/drilldown.min.js' %}"></script>
<script src="{% static 'js/libs/highcharts-ng.min.js' %}"></script>
<script src="{% static 'js/libs/angular-drag-and-drop-lists.min.js' %}"></script>

<script src="{% static 'js/angularjs/components/sform/sform.js' %}"></script>
<script src="{% static 'js/angularjs/components/sform/sform-renderer.js' %}"></script>
<script src="{% static 'js/angularjs/components/resource_module.js' %}"></script>
<script src="{% static 'js/angularjs/components/sysdata/sysdata_factory.js' %}"></script>
<script src="{% static 'js/angularjs/controllers/dataviz_controller.js' %}"></script>
<script src="{% static 'js/angularjs/controllers/homepage_controller.js' %}"></script>
<script src="{% static 'js/angularjs/directives/preview-location-directive.js' %}"></script>

<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
<script data-pace-options='{ "restartOnRequestAfter": true }' src="{% static 'js/plugin/pace/pace.min.js' %}"></script>
<!-- IMPORTANT: APP CONFIG -->
<script src="{% static 'js/app.config.js' %}"></script>
<!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
<script src="{% static 'js/plugin/jquery-touch/jquery.ui.touch-punch.min.js' %}"></script>
<!-- browser msie issue fix -->
<script src="{% static 'js/plugin/msie-fix/jquery.mb.browser.min.js' %}"></script>
<!-- FastClick: For mobile devices -->
<script src="{% static 'js/plugin/fastclick/fastclick.min.js' %}"></script>
<!--[if IE 8]>
        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
        <![endif]-->
<!-- MAIN APP JS FILE -->
-<script src="{% static 'js/plugin/select2/select2.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<!-- Google Analytics -->
<script src="{% static 'js/ga.js' %}"></script>
